*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
section{
    height:100vh;
    width: 100vw;
    background-color: rgb(48, 54, 87);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.score{
    color:rgb(230, 220, 223);
    height:20vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.score h2{
    font-size: 40px;
}

.score p{
    font-size: 40px;
    text-align: center;
}

.intro{
    color: rgb(212, 213, 221);
    text-align: center;
    font-size: large;
    
}

.intro h1{
    font-size: 50px;
}
.options button,
.intro button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(206, 122, 50);
    font-size: 28px;
    height:5vh;
    width: 30vh;
}

.match{    
    transition: opacity .5s;
}

.winner{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    color:rgb(207, 209, 219);
    text-align: center;
}

.hands,
.options{    
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform:rotateY(180deg);
}
div.fadeOut{
    opacity:0;
    pointer-events: none;
}
div.fadeIn{
    opacity: 1;
    pointer-events: all;
}